/* swayosd - Gruvbox Material Dark */

window#osd {
  border-radius: 12px;
  border: 2px solid #b0b846;
  background: rgba(40, 40, 40, 0.9);
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #e2cca9;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 8px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(168, 153, 132, 0.4);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #b0b846;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
